src/.vs/Oracle.DynamicDBContext/DesignTimeBuild/.dtbcache.v2
src/.vs/Oracle.DynamicDBContext/FileContentIndex/61894ab7-3d69-4af4-94a7-fb9e515c2467.vsidx
src/.vs/Oracle.DynamicDBContext/FileContentIndex/b099cfc0-8c26-402a-9da7-8642d4213319.vsidx
src/.vs/Oracle.DynamicDBContext/FileContentIndex/ebab76e9-af9b-4001-8d92-d2f8d6f59acd.vsidx
src/.vs/Oracle.DynamicDBContext/FileContentIndex/read.lock
src/.vs/Oracle.DynamicDBContext/v17/.futdcache.v2
src/.vs/Oracle.DynamicDBContext/v17/.suo
src/.vs/ProjectEvaluation/oracle.dynamicdbcontext.metadata.v6.1
src/.vs/ProjectEvaluation/oracle.dynamicdbcontext.projects.v6.1
src/Oracle.DynamicDBContext/bin/Debug/AlphaNet.Oracle.DynamicDBContext.0.91.0.nupkg
src/Oracle.DynamicDBContext/bin/Debug/AlphaNet.Oracle.DynamicDBContext.1.0.0.nupkg
src/Oracle.DynamicDBContext/bin/Debug/net6.0/Alphanet.Oracle.DynamicDBContext.deps.json
src/Oracle.DynamicDBContext/bin/Debug/net6.0/Alphanet.Oracle.DynamicDBContext.dll
src/Oracle.DynamicDBContext/bin/Debug/net6.0/Alphanet.Oracle.DynamicDBContext.pdb
src/Oracle.DynamicDBContext/bin/Release/AlphaNet.Oracle.DynamicDBContext.1.0.0.nupkg
src/Oracle.DynamicDBContext/bin/Release/AlphaNet.Oracle.DynamicDBContext.1.0.1.nupkg
src/Oracle.DynamicDBContext/bin/Release/Alphanet.Oracle.DynamicDBContext.deps.json
src/Oracle.DynamicDBContext/bin/Release/Alphanet.Oracle.DynamicDBContext.dll
src/Oracle.DynamicDBContext/bin/Release/Alphanet.Oracle.DynamicDBContext.pdb
src/Oracle.DynamicDBContext/bin/Release/Newtonsoft.Json.dll
src/Oracle.DynamicDBContext/bin/Release/net6.0/Alphanet.Oracle.DynamicDBContext.deps.json
src/Oracle.DynamicDBContext/bin/Release/net6.0/Alphanet.Oracle.DynamicDBContext.dll
src/Oracle.DynamicDBContext/bin/Release/net6.0/Alphanet.Oracle.DynamicDBContext.pdb
src/Oracle.DynamicDBContext/obj/Oracle.DynamicDBContext.csproj.nuget.dgspec.json
src/Oracle.DynamicDBContext/obj/Oracle.DynamicDBContext.csproj.nuget.g.props
src/Oracle.DynamicDBContext/obj/Oracle.DynamicDBContext.csproj.nuget.g.targets
src/Oracle.DynamicDBContext/obj/project.assets.json
src/Oracle.DynamicDBContext/obj/project.nuget.cache
src/Oracle.DynamicDBContext/obj/Debug/AlphaNet.Oracle.DynamicDBContext.0.91.0.nuspec
src/Oracle.DynamicDBContext/obj/Debug/AlphaNet.Oracle.DynamicDBContext.1.0.0.nuspec
src/Oracle.DynamicDBContext/obj/Debug/DinamicDBContext.0.91.0.nuspec
src/Oracle.DynamicDBContext/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
src/Oracle.DynamicDBContext/obj/Debug/net5.0/Oracle.DynamicDBContext.AssemblyInfo.cs
src/Oracle.DynamicDBContext/obj/Debug/net5.0/Oracle.DynamicDBContext.AssemblyInfoInputs.cache
src/Oracle.DynamicDBContext/obj/Debug/net5.0/Oracle.DynamicDBContext.assets.cache
src/Oracle.DynamicDBContext/obj/Debug/net5.0/Oracle.DynamicDBContext.csproj.AssemblyReference.cache
src/Oracle.DynamicDBContext/obj/Debug/net5.0/Oracle.DynamicDBContext.GeneratedMSBuildEditorConfig.editorconfig
src/Oracle.DynamicDBContext/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
src/Oracle.DynamicDBContext/obj/Debug/net6.0/Alphanet.Oracle.DynamicDBContext.dll
src/Oracle.DynamicDBContext/obj/Debug/net6.0/Alphanet.Oracle.DynamicDBContext.pdb
src/Oracle.DynamicDBContext/obj/Debug/net6.0/Oracle.DynamicDBContext.AssemblyInfo.cs
src/Oracle.DynamicDBContext/obj/Debug/net6.0/Oracle.DynamicDBContext.AssemblyInfoInputs.cache
src/Oracle.DynamicDBContext/obj/Debug/net6.0/Oracle.DynamicDBContext.assets.cache
src/Oracle.DynamicDBContext/obj/Debug/net6.0/Oracle.DynamicDBContext.csproj.AssemblyReference.cache
src/Oracle.DynamicDBContext/obj/Debug/net6.0/Oracle.DynamicDBContext.csproj.BuildWithSkipAnalyzers
src/Oracle.DynamicDBContext/obj/Debug/net6.0/Oracle.DynamicDBContext.csproj.CoreCompileInputs.cache
src/Oracle.DynamicDBContext/obj/Debug/net6.0/Oracle.DynamicDBContext.csproj.FileListAbsolute.txt
src/Oracle.DynamicDBContext/obj/Debug/net6.0/Oracle.DynamicDBContext.csproj.GenerateResource.cache
src/Oracle.DynamicDBContext/obj/Debug/net6.0/Oracle.DynamicDBContext.GeneratedMSBuildEditorConfig.editorconfig
src/Oracle.DynamicDBContext/obj/Debug/net6.0/Oracle.DynamicDBContext.Properties.Resources.resources
src/Oracle.DynamicDBContext/obj/Debug/net6.0/ref/Alphanet.Oracle.DynamicDBContext.dll
src/Oracle.DynamicDBContext/obj/Debug/net6.0/refint/Alphanet.Oracle.DynamicDBContext.dll
src/Oracle.DynamicDBContext/obj/Release/AlphaNet.Oracle.DynamicDBContext.1.0.0.nuspec
src/Oracle.DynamicDBContext/obj/Release/AlphaNet.Oracle.DynamicDBContext.1.0.1.nuspec
src/Oracle.DynamicDBContext/obj/Release/DinamicDBContext.0.91.0.nuspec
src/Oracle.DynamicDBContext/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
src/Oracle.DynamicDBContext/obj/Release/net6.0/Alphanet.Oracle.DynamicDBContext.dll
src/Oracle.DynamicDBContext/obj/Release/net6.0/Alphanet.Oracle.DynamicDBContext.pdb
src/Oracle.DynamicDBContext/obj/Release/net6.0/Oracle.DynamicDBContext.AssemblyInfo.cs
src/Oracle.DynamicDBContext/obj/Release/net6.0/Oracle.DynamicDBContext.AssemblyInfoInputs.cache
src/Oracle.DynamicDBContext/obj/Release/net6.0/Oracle.DynamicDBContext.assets.cache
src/Oracle.DynamicDBContext/obj/Release/net6.0/Oracle.DynamicDBContext.csproj.AssemblyReference.cache
src/Oracle.DynamicDBContext/obj/Release/net6.0/Oracle.DynamicDBContext.csproj.CoreCompileInputs.cache
src/Oracle.DynamicDBContext/obj/Release/net6.0/Oracle.DynamicDBContext.csproj.FileListAbsolute.txt
src/Oracle.DynamicDBContext/obj/Release/net6.0/Oracle.DynamicDBContext.csproj.GenerateResource.cache
src/Oracle.DynamicDBContext/obj/Release/net6.0/Oracle.DynamicDBContext.GeneratedMSBuildEditorConfig.editorconfig
src/Oracle.DynamicDBContext/obj/Release/net6.0/Oracle.DynamicDBContext.Properties.Resources.resources
src/Oracle.DynamicDBContext/obj/Release/net6.0/PublishOutputs.a305425d16.txt
src/Oracle.DynamicDBContext/obj/Release/net6.0/ref/Alphanet.Oracle.DynamicDBContext.dll
src/Oracle.DynamicDBContext/obj/Release/net6.0/refint/Alphanet.Oracle.DynamicDBContext.dll
